#login-section {
  width: 100%;
  height: 100vh;
  display: flex;
}

.animation {
  width: 80%;
  height: 100vh;
  background-color: white;
}

.line {
  width: 80%;
  height: 1px;
  border: 1px solid white;
  margin-top: 5%;
}

.para {
  margin-top: 10px;
}

.form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right,rgba(106, 115, 115, 0.915) 70%, rgba(33, 136, 136, 0.915)) 30%, url('./assets/login_background.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.form form {
  width: 70%;
  height: 500px;
  margin-top: 2%;
  margin-left: 10%;
}

.form-input1,
.form-input2 {
  margin-bottom: 20px;
}

.form form label {
  display: block;
  font-size: 20px;
  margin: 30px 0px 10px 0px;
}

.form form input {
  width: 80%;
  display: block;
  font-size: 16px;
  padding: 2.5%;
  outline: none;
  background-color: white;
  border: 1px solid gray;
  border-radius: 25px;
  color: rgb(105, 103, 103);
}

.form form input::placeholder {
  color: gray;
  opacity: 0.9;
}

.form form button {
  display: block;
  width: 80%;
  padding: 2.5%;
  border: 1px solid transparent;
  background-color: #396da9;
  font-size: 19px;
  cursor: pointer;
  margin-top: 20px;
  color: white;
  border-radius: 25px;
}

.form form button:hover {
  box-shadow: 0px 0px 10px 2px white;
}

.logo-animation-logo {
  text-align: center;
}

/* #registerBtn a {
  width: 100%;
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1.5%;
  line-height:250%;
} */

#registerBtn a {
  display: block;
}

#registerBtn {
  background-color: transparent;
  border: 2px solid #396da9;
  color: #396da9;
}

.logo-animation-logo figure img {
  width: 200px;
  margin-top: 110px;
}

.logo-animation-logo h2 {
  font-size: 30px;
  margin-top: 5%;
}

/* now the responsive section is starting */

@media screen and (max-width: 1024px) {

  /* .form form button{
    width: 100%;
  } */
  /* .line{
    width: 100%;
  }
  form{
    width: 100%;
  }
  .form form{
    width: 80%;
  }
  .form form input{
    width: 100%;
  } */
}

@media screen and (max-width: 768px) {
  .logo-animation-logo figure img {
    width: 125px;
    margin-top: 0px;
  }

  /* .logo-animation-logo{
    position: relative;
  } */
  .logo-animation-logo h2 {
    font-size: 25px;
    margin-top: -10px;
    /* position: relative;
    top: 5%;
    left: 20%; */
  }

  /* form{
    width: 100%;
  } */

  #login-section {
    flex-direction: column;
  }

  #login-section .animation {
    background-color: white;
    width: 100%;
    height: 30%;
  }

  .animation h2 {
    margin-top: 0px;
  }

  .form {
    height: auto;
  }

  .form form {
    height: 90%;
  }
}

@media screen and (max-width: 480px) {
  .logo-animation-logo figure img {
    width: 150px;
    margin-top: 22px;
  }

  .form form button {
    width: 100%;
  }

  .line {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .form form {
    width: 80%;
  }

  .form form input {
    width: 100%;
  }
}